@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


body {
  background: #E491C9;
  margin: 0px;
  color: #F1E9E9;
  padding: 0px 0px;
  font-family: "SN Pro", sans-serif;
  font-weight: 300;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 85px;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  background: #F1E9E9; 
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: "Raleway";
}

h2, h3, h4 {
  font-family: "Raleway";
}

h2 {
  font-size: 50px;
  margin: 14px 0px;
}

h3 {
  font-size: 30px;
  margin: 0;
}

h4 {
  font-size: 36px;
  text-align: center;
  margin: 0;
}

p {
  font-size: 25px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
}

img {
  filter: drop-shadow(0px 0px 10px rgba(256,256,256,0.2));
}

.label-container, .socmed-container {
  width: 500px;
}

.socmed-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

#me-pic {
  border-radius: 40px;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
}

section {
  padding: 40px 300px;
}

.hi {
  padding-top: 170px;
  padding-bottom: 100px;
  background: #15173D;
}

.hi-content {
  display: flex;
  gap: 40px;
}

.hi-message {
  width: 100%;
}

.skill-box-container {
  display: flex;
  justify-content: space-between;
}

.skill-box {
  display: flex;
  flex-direction: column;
  background: #15162f;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.3);
  width: 350px;
  padding: 25px;
  gap: 25px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.pics-box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.projects-box-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projects-box {
  display: flex;
  background: #541554;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.3);
  height: 300px;
  padding: 50px; 
  gap: 20px;
  border-radius: 20px;
}

.projects-desc {
  display: flex;
  flex-direction: column;
}

.projects-desc-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-desc-repo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  background: white;
  padding: 15px;
  border-radius: 20px;
}
