body {
  background: white;
  margin: 65px 0px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  margin: 0px;
  background: gray;
  z-index: 999;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 33px;
  text-align: center;
  margin: 0;
}

p {
  font-size: 25px;
}

#me-pic {
  border-radius: 40px;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0px 300px;
}

.hi {
  
}

.hi-content {
  display: flex;
  gap: 40px;
}

.hi-message {
  width: 100%;
}

.skill-box-container {
  display: flex;
  justify-content: space-between;
}

.skill-box {
  display: flex;
  flex-direction: column;
  background: gray;
  width: 350px;
  padding: 25px;
  gap: 25px;
}

.pics-box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.projects-box-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projects-box {
  display: flex;
  background: gray;
  height: 400px;
  padding: 30px; 
}

.projects-desc {
  display: flex;
  flex-direction: column;
}

.projects-desc-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-desc-repo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  background: white;
  padding: 15px;
  border-radius: 20px;
}
